{% extends "base.html" %}

{% block content %}
<h1>С подключением, {{user.username}}</h1>
{% for post in posts %}
    <div>
        <p><b>{{ post.author.username }}</b> 
            сказал: {{ post.body }}
        </p> 
        {% for comment in comments %}
            {% if comment.post_id == post.id %}
            <p>
                <b>{{ comment.author.username }} </b> 
                ответил: {{ comment.body }}
            </p>
            {% endif %}
        {% endfor %}
        <br>
    </div>
{% endfor %}
{% endblock %}