{% extends "base.html" %}

{% block content %}
<h1>С подключением, {{user.username}}</h1>

<section class="posts">
    {% for post in posts %}
    <div class="post">
        <p><b>{{ post.author.username }}</b> 
            сказал: {{ post.body }}
        </p> 
        {% for comment in comments %}
            {% if comment.post_id == post.id %}
            <p>
                <b>{{ comment.author.username }} </b> 
                ответил: {{ comment.body }}
            </p>
            {% endif %}
        {% endfor %}
        <br>
    </div>

{% endfor %}
</section>
{% endblock %}